#container
{ 
    height: 90%;
    width: 80%;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: float;
    margin-top: 2.5%;
}

#header
{
    width: 100%;
    height: 5%;
    border-bottom: 2px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}

#return_map
{
    display: none;
    color: blue;
    text-decoration: underline;
}

#info_holder
{
    width: 100%;
    height: 91%;
    display: none;
}

#info_vid
{
    width: 70%;
    height: 80%;
    border-right: 1px solid black;
    float: left;
}

#info_txt
{
    width: 29.8%;
    height: 100%;
    border-left: 1px solid black;
    float: right;
}

#map
{
    width: 75%;
    height: 91%;
    margin-left: 12.5%;
    border: 1px dashed black;
    text-align: center;
}

.txt_txt
{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17;
    line-height: 1.4;
}

.astley
{
    width: 70%;
    height: 100%;
    margin-top: 5%;
    margin-left: 15%; 
}